.page {
    height: 100vh;
  }
  a {
    color: blue;
  }
  .sign-box {
    width: 400px;
    background: #fff;
    padding: 30px 30px;
    border-radius: 4px;
    box-shadow: 0 0 25px #cac6c6;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #000;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginBox{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

  }
  .background{
	width: 100%;height: 100%;
	background-image: url(../assets/bg.jpg);
	background-size: cover; 
	position: absolute; 
	z-index: -1;
	background-repeat: no-repeat;
}
img{
	position: fixed; 
}


